<div id="<%= dom_id entry %>">
  <p>
    <strong>User NIF:</strong>
    <%= entry.user_nif %>
  </p>

  <p>
    <strong>Transaction Type:</strong>
    <%= entry.transaction_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= entry.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= entry.category %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entry.description %>
  </p>

</div>
