<% content_for :title, "Financial Tracker" %>

<div class="container title-container">
  <h1 class="text-primary mb-4">Financial Tracker</h1>
  <h2 class="text-secondary">Your Transactions</h2>
</div>

<!-- Balance Parcial -->
<%= render "balance" %>

<div class="container mt-5">
  <% if notice %>
    <div class="alert alert-success text-center">
      <%= notice %>
    </div>
  <% end %>

  <!-- Filter Form -->
  <div class="card mb-4">
    <div class="card-body">
      <%= form_with url: entries_path, method: :get, local: true do %>
        <div class="row">
          <div class="col-md-4">
            <%= label_tag :category, "Category" %>
            <%= text_field_tag :category, params[:category], class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= label_tag :start_date, "Start Date" %>
            <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= label_tag :end_date, "End Date" %>
            <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <%= submit_tag "Filter", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Transactions Parcial -->
  <%= render "transactions", entries: @entries %>
  <br>
  <div class="text-center mt-4">
    <button onclick="window.location.href='<%= new_entry_path %>'" class="btn btn-success btn-lg">
      Add New Transaction
    </button>
  </div>
</div>